@media only screen and (max-width: 991px) {
.container, .container_fixed {width: 100%;}
.dummy_content {width: 100%;}
}
@media only screen and (max-width: 767px) {
.container, .container_fixed {margin: 40px auto;}
}

/*  _______________________________________________

    01 MENU BAR
    _______________________________________________  */

#flexinav {
    z-index: 9998; height:60px;
}
#flexinav2 {
    z-index: 9997;
}

.flexinav_ddown_mega h3{
	color: #C00!important;
	font-size: 14px!important;
	float: left;
	width: 100%!important;
	margin-top: 10px!important;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC; padding-bottom:5px!important; margin-bottom:5px!important; font-family:Verdana, Geneva, sans-serif!important
}
.flexinav_ddown_mega i{ color:#F00!important; margin-right:5px!important;}
.flexinav_ddown i	{ color:#F00!important; margin-right:5px!important;}

.flexinav *,
.flexinav *:before,
.flexinav *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.flexinav {
    position: relative;
    margin:0 auto 1px auto;
    float: left;
    padding: 0;
    width: 100%;
    z-index: 9990;
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size:11px;
    line-height:21px;
    background: #262626;
}
.flexinav_fixed {
    position: fixed;
    top:0;
    left:0;
    margin:0 0 30px 0;
}
    .flexinav .flexinav_wrapper {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;

    }
    .flexinav .flexinav_wrapper .flexinav_menu {
        padding: 0;
        margin: 0 auto;
        list-style: none;
        float: left;
    }
        .flexinav .flexinav_wrapper .flexinav_menu_right {
            float: right;
        }
        .flexinav .flexinav_wrapper .flexinav_menu > li {
            float: left;
            padding:0;
            margin: 0;
            line-height:60px;
            font-size: 11px;
            position: relative;
            background: #262626;
            -webkit-transition: background 0.3s;
            -moz-transition: background 0.3s;
            -o-transition: background 0.3s;
            transition: background 0.3s;
        }
            .flexinav .flexinav_wrapper .flexinav_menu > li.flexnav_mega {
                position: static;
            }

            /* Hover and active states */

            .flexinav .flexinav_wrapper .flexinav_menu > li > a,
            .flexinav .flexinav_wrapper .flexinav_menu > li > span,
            .flexinav .flexinav_wrapper .flexinav_menu > li > span > a {
                color:#eeeeee;
            }
            .flexinav .flexinav_wrapper .flexinav_menu > li:hover,
            .flexinav .flexinav_wrapper .flexinav_menu > li.active {
                /*background: #ffffff;*/
            }
                .flexinav .flexinav_wrapper .flexinav_menu > li:hover > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li:hover > span,
                .flexinav .flexinav_wrapper .flexinav_menu > li:hover > span > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li.active > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li.active > span,
                .flexinav .flexinav_wrapper .flexinav_menu > li.active > span > a {
                    color:#C00;
               }
            .flexinav .flexinav_wrapper .flexinav_menu > li.noactive {
                background: #262626;
            }
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive > span,
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive > span > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive:hover > a,
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive:hover > span,
                .flexinav .flexinav_wrapper .flexinav_menu > li.noactive:hover > span > a {
                    color:#eeeeee;
                }


            .flexinav .flexinav_wrapper .flexinav_menu > li > span,
            .flexinav .flexinav_wrapper .flexinav_menu > li > a {
                display: block;
                line-height:60px;
                padding:0 10px;
            }
            .flexinav .flexinav_wrapper .flexinav_menu > li > a,
            .flexinav .flexinav_wrapper .flexinav_menu > li > span,
            .flexinav .flexinav_wrapper .flexinav_menu > li > span > a {
                font-size: 11px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
            }
            .flexinav .flexinav_wrapper .flexinav_menu > li > span > a {
                margin-left: 14px;
            }
            .flexinav .flexinav_wrapper .flexinav_menu > li > span + a i {
                margin-right: 0px;
            }
            .flexinav .flexinav_wrapper .flexinav_menu > li i {
                margin-right: 0px;
            }

    /* Logo */

    .flexinav .flexinav_wrapper .flexinav_menu > li.flexinav_logo {
        width: 220px;
        height: 60px;
        padding: 0;
        margin: 0;
        float: left;
    }
    .flexinav .flexinav_wrapper .flexinav_menu > li.flexinav_logo:hover {
        background: none;
    }
    .flexinav .flexinav_wrapper .flexinav_menu > li.flexinav_logo > a,
    .flexinav .flexinav_wrapper .flexinav_menu > li.flexinav_logo:hover > a {
        width: 100%;
        height: 60px;
        padding: 0;
        margin: 0;
        float: left;
    }




/*  _______________________________________________

    02 MENU TOGGLE BUTTON
    _______________________________________________  */



.flexinav_btn {
    position: fixed;
    z-index: 9990;
    top: 60px;
    right: 0;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    height: 60px;
    padding: 0 17px;
    background: #262626;
    outline:none;
    -webkit-transition: all 0.3s 0.2s;
    -moz-transition: all 0.3s 0.2s;
    -o-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}
    .flexinav_btn i {
        font-size: 18px;
        line-height: 60px;
        float: left;
        -webkit-transition: all 0.3s 0.2s;
        -moz-transition: all 0.3s 0.2s;
        -o-transition: all 0.3s 0.2s;
        transition: all 0.3s 0.2s;
    }
    .flexinav_btn.btn_active {
        top:0;
    }
    .flexinav_btn.btn_active i {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }


/*  _______________________________________________

    03 DROP DOWN CONTAINERS
    _______________________________________________  */

.flexinav .flexinav_menu .flexinav_ddown {
	position: absolute;
	top: -9999em;
	z-index: 9999;
	background: #ffffff;
	padding: 10px 10px 10px 10px;
	margin: 0 auto;
	opacity: 0;
	display: block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #069;
}
.flexinav .flexinav_menu .flexinav_ddown_scroll {
    padding: 10px 10px 10px 10px;
}
.flexinav .flexinav_menu .flexinav_ddown_fly_out {
    padding: 10px 0 8px 0;
}
.flexinav .flexinav_menu .flexinav_ddown:before,
.flexinav .flexinav_menu .flexinav_ddown:after {
    display: table;
    content: " ";
}
.flexinav .flexinav_menu .flexinav_ddown:after {
    clear: both;
}

/* Drop Down Sizes */

.flexinav .flexinav_menu .flexinav_ddown_mega {
    width: 102%;
    left:50%;
    margin-left: -50%; 
}
.flexinav .flexinav_menu .flexinav_ddown_full {
    width: 100%;
    left:0;
    margin-left: 0;
}
.flexinav .flexinav_menu .flexinav_ddown_960 {
    width:100%;
}
.flexinav .flexinav_menu .flexinav_ddown_880 {
    width:880px;
}
.flexinav .flexinav_menu .flexinav_ddown_800 {
    width:800px;
}
.flexinav .flexinav_menu .flexinav_ddown_720 {
    width:720px;
}
.flexinav .flexinav_menu .flexinav_ddown_640 {
    width:640px;
}
.flexinav .flexinav_menu .flexinav_ddown_560 {
    width:560px;
}
.flexinav .flexinav_menu .flexinav_ddown_480 {
    width:480px;
}
.flexinav .flexinav_menu .flexinav_ddown_400 {
    width:400px;
}
.flexinav .flexinav_menu .flexinav_ddown_320 {
    width:320px;
}
.flexinav .flexinav_menu .flexinav_ddown_240 {
    width:240px;
}
.flexinav .flexinav_menu .flexinav_ddown_160 {
    width:160px;
}
.flexinav .flexinav_menu .flexinav_ddown_80 {
    width:80px;
}
.flexinav .flexinav_menu .flexinav_ddown_960,
.flexinav .flexinav_menu .flexinav_ddown_880,
.flexinav .flexinav_menu .flexinav_ddown_800,
.flexinav .flexinav_menu .flexinav_ddown_720,
.flexinav .flexinav_menu .flexinav_ddown_640,
.flexinav .flexinav_menu .flexinav_ddown_560,
.flexinav .flexinav_menu .flexinav_ddown_480,
.flexinav .flexinav_menu .flexinav_ddown_400,
.flexinav .flexinav_menu .flexinav_ddown_320,
.flexinav .flexinav_menu .flexinav_ddown_240,
.flexinav .flexinav_menu .flexinav_ddown_160,
.flexinav .flexinav_menu .flexinav_ddown_80 {
    margin-left: 0;
}
.flexinav_icons	li a{line-height:15px;!important}

.flexinav .flexinav_menu .flexinav_ddown_right {
    right:0;
}

/* Show Drop Downs on Mouse Hover */

.flexinav .flexinav_menu li:hover > .flexinav_ddown {
    opacity: 1;
    top:auto;
}




.flexinav .colrow {
    margin-right: -0.5%;
    margin-left: -0.5%;
}
.flexinav .colrow:before,
.flexinav .colrow:after {
    display: table;
    content: " ";
}
.flexinav .colrow:after {
    clear: both;
}
.flexinav .col1,
.flexinav .col2,
.flexinav .col3,
.flexinav .col4,
.flexinav .col5,
.flexinav .col6,
.flexinav .col7,
.flexinav .col8,
.flexinav .col9,
.flexinav .col10,
.flexinav .col11,
.flexinav .col12 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 0.65%;
    padding-left: 0.65%;
}
.flexinav .col12 {
    width: 100%;
}
.flexinav .col11 {
    width: 91.66666666666666%;
}
.flexinav .col10 {
    width: 83.33333333333334%;
}
.flexinav .col9 {
    width: 75%;
}
.flexinav .col8 {
    width: 66.66666666666666%;
}
.flexinav .col7 {
    width: 58.333333333333336%;
}
.flexinav .col6 {
    width: 50%;
}
.flexinav .col5 {
    width: 41.66666666666667%;
}
.flexinav .col4 {
    width: 33.33333333333333%;
}
.flexinav .col3 {
    width: 25%;
}
/*.flexinav .col2 {
    width: 16.666666666666664%;
}*/
.flexinav .col2 {
    width: 19.8888888%;
}
.flexinav .col1 {
    width: 12.333333333333332%;
}






/* IE8 */

.flexinav .flexinav_wrapper .flexinav_menu > li.flexinav_collapse {
    display: none\0/;
}



/* Grey */

.flexinav_grey,
.flexinav_grey .flexinav_wrapper .flexinav_menu > li,
.flexinav_grey .flexinav_wrapper .flexinav_menu > li.noactive,
.flexinav_grey +  .flexinav_btn {
    background: #444444;
}
.flexinav_grey .flexinav_ddown a,
.flexinav_grey .dropdown_flyout li span {
    color: #069 !important;
}
    .flexinav_grey .flexinav_ddown a:hover,
    .flexinav_grey .dropdown_flyout li span:hover {
        color: #909090 !important;
    }
    .flexinav_grey .flexinav_wrapper .flexinav_menu > li.flexinav_collapse_active,
    .flexinav_grey .flexinav_wrapper .flexinav_menu > li.flexinav_collapse_active:hover {
        background: #333 !important;
    }
    .flexinav_grey .flexinav_wrapper .flexinav_menu > li.flexinav_collapse_noactive,
    .flexinav_grey .flexinav_wrapper .flexinav_menu > li.flexinav_collapse_noactive:hover {
        background: #444444 !important;
    }
